@model KTMKomuter.Models.TicketTransaction
@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="container">
    <main role="main" class="pb-3">
        <p>@ViewBag.Message</p>

        <p>@Html.Raw(ViewBag.Body)</p>

        @Html.ActionLink("Back to List", "AdminDashboard")
    </main>
</div>
